<!DOCTYPE html>
<html>
<head>
    <title>英語の記事の要約ならびに音声変換</title>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
    <style>
        body {
            padding: 20px;
        }
        .custom-input {
            height: 800px;
            width: 800px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">英語の記事を入力してください</h1>
        <form method="POST" class="mt-4">
            <div class="mb-3">
                <label for="text" class="form-label">記事</label>
                <textarea class="form-control custom-input" id="text" rows="10" style="height:100%;" name="text" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
    </div>
</body>
</html>